@model List<Student>
<a type="button" class="btn btn-success" href="/students/add"> + New Student</a>
<table class="table">
    <thead>
        <tr>
            <th>Roll No.</th>
            <th>Name</th>
            <th>Major</th>
            <th>Contact</th>
            <th>Semester</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@for (int i = 0; i < studentList.Count; i++)
        {
        <tr>
        <td>@studentList[i].RollNo</td>
        <td>@studentList[i].Name</td>
        <td>@studentList[i].Major</td>
        <td>@studentList[i].Contact</td>
        <td>@studentList[i].Semester</td>
        </tr>
        }*@
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.RollNo</td>
                <td>@student.Name</td>
                <td>@student.Major</td>
                <td>@student.Contact</td>
                <td>@student.Semester</td>
                <td><button type="button" class="btn btn-warning">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button></td>
            </tr>
        }
    </tbody>
</table>